:root {
  background-color: black;
}

#portal {
  margin: auto;
  margin-top: 400px;
  width: 1px;
  height: 1px;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 100px 40px rgba(255, 208, 0, 0.767);
}

.chispa {
  position: absolute;
  width: 1px;
  height: 100px;
  background: linear-gradient(orange, black);
  margin: auto;
  transform-origin: top left;
}
